name: Unit-Test

on:
  push:
    branches:
      - main
  workflow_dispatch: { }
  pull_request:
    branches:
      - main

jobs:

  unit-tests:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Check out code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0


      - name: Install ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo

      - name: Run Make test
        run: make test

      - name: Publish coverage  # Pass the `coverage.out` output to this action
        uses: codecov/codecov-action@v5.0.7
        with:
          file: profile.cov
          token: ${{ secrets.CODECOV_TOKEN }}


